<main class="content">
  <!--找尋所有作者並清除重複作者-->
  <% 
  let allAuthors=[]
  site.posts.data.forEach(e => {
    allAuthors.push(e.author)
  })
  const noRepeatAuthors=[...new Set(allAuthors.map(item=>JSON.stringify(item)))].map(item=>JSON.parse(item))
  %>
  <div class="container authors-page">
    <div class="row article-row">
        <% noRepeatAuthors.forEach(author => { %>          
          <div class="author-block col s12 m6 l4" data-aos="zoom-in">
              <!-- 照片 -->
              <div class="card-image center">
                  <% if (author.photo) { %>
                    <img src="<%- url_for(author.photo) %>" class="responsive-img author-pic" alt="<%= author.name %>">
                  <% } %>
              </div>
              <!-- 資訊 -->
              <div class="card-content article-content">
                <div class="publish-info">
                  <!-- 作者 -->
                  <span class="publish-author point-color center">
                      <a  class="point-color center" href="/author/<%= author.name %>/"><%= author.name %></a>
                  </span><br>
                  <span class="author-info center">  
                    <!--作者介紹取前39字-->
                    <% if (author.about && author.about.length < 39) { %>
                      <%= author.about %>
                    <% }else{ %>
                      <%- author.about.substring(0,39) %>...
                    <% } %>
                  </span>
                </div>
              </div>          
        </div> 
        <% }); %>
    </div>
  </div>
</main>