<footer class="page-footer black">
    <div class="container black footer-nav">
        <div class="pic">
            <img src="<%- theme.jsDelivr.url %><%- url_for(theme.logoWhite) %>" class="logo-img" alt="LOGO">
        </div>
        <div class="footer-items" style="width: auto">
            <div class="footer-item white-text" style="width: auto"><a href="/about">關於</a></div>
            <div class="footer-item white-text" style="width: auto"><a href="/buybitcoin">購買比特幣</a></div>
            <div class="footer-item white-text" style="width: auto"><a href="/">合作夥伴</a></div>
            <div class="footer-item white-text" style="width: auto"><a href="/">免責聲明</a></div>
            <div class="footer-item white-text" style="width: auto"><a href="/">隱私政策</a></div>
        </div>
    </div>
    <!-- 第二區 -->
    <div class="footer-copyright grey darken-3">
        <div class="container copyright-block">
            <!-- <div class="row">                 -->
                <div class="copyright-text">
                    &copy;Photo,&nbsp;Inc.&nbsp;
                    <% if (theme.time.year !== new Date().getFullYear()) { %>
                        <span id="year"><%- theme.time.year %>-<%- new Date().getFullYear() %></span>
                    <% } else { %>
                        <span id="year"><%- theme.time.year %></span>
                    <% } %>
                    All rights reserved
                </div>
                <div class="social-link"><%- partial('_partial/social-link-white') %></div>     
            <!-- </div> -->
        </div>
    </div>
    <div class="footer-nfts white">
        <div class="container">
            <div class="row">
                <h1>精選 NFT 欣賞</h1>
            </div>
            <div class="row nft-rows">
                <div class="col s12 m6 l6 nft-row">
                    <div class="col s5 m6 nftimg">
                        <img src="<%- theme.jsDelivr.url %><%- url_for(theme.nftLeft) %>" class="responsive-img" alt="nftIMG">
                    </div>
                    <div class="col s7 m6 footer-info">
                        <h3>網站名稱</h3>
                        <a class="waves-effect waves-light btn black white-text">官方網站</a>
                        <a class="waves-effect waves-light btn black white-text">我要購買</a>
                    </div>
                </div>
                <div class="col s12 m6 l6 nft-row">
                    <div class="col s5 m6 nftimg">
                        <img src="<%- theme.jsDelivr.url %><%- url_for(theme.nftRight) %>" class="responsive-img" alt="nftIMG">
                    </div>
                    <div class="col s7 m6 footer-info">
                        <h3>網站名稱</h3>
                        <a class="waves-effect waves-light btn black white-text">官方網站</a>
                        <a class="waves-effect waves-light btn black white-text">我要購買</a>
                    </div>
                </div>
            </div>
            <div class="row coin-block">
                <div class="coin-left">
                    <h2>門羅幣挖礦</h2>     
                </div>                
                <div class="coin-right">
                    <h4>Github 開源碼連結</h4>
                    <label class="toggle">
                        <input type="checkbox" class="open-source-btn">
                        <span class="onOff-btn round"></span>	
                    </label>
                </div>
                <hr>
            </div>
        </div>
        <div id="bottom-ad" class="ad-block">
            <span class="ad-text">廣告廣告廣告廣告廣告廣告廣告廣告</span>
            <button id="bottom-closeBtn" class="ad-close"><img src="/medias/ad-close.svg"></button>
        </div>
    </div>
    <!--移除底部廣告-->
    <script>
        const bottomCloseBtn=document.getElementById('bottom-closeBtn')
        const bottomAD=document.getElementById('bottom-ad') 

        bottomCloseBtn.addEventListener('click',()=>{
            bottomAD.remove() 
        }) 
    </script>
</footer>
<!-- <div class="progress-bar"></div> -->
