<footer class="page-footer black">
    <div class="container black">
        <div class="row">
            <div class="col s12">
                <div class="col s6">
                    <img src="<%- theme.jsDelivr.url %><%- url_for(theme.logoWhite) %>" class="logo-img col s2" alt="LOGO">
                </div>
                <div class="col s6">
                    <ul class="nav-menu">
                        <% Object.keys(theme.menu).forEach(function(key) { %>
                        <li class="hide-on-med-and-down nav-item">
                            <% if(!theme.menu[key].children) { %>
                            <a href="<%- url_for(theme.menu[key].url) %>" class="waves-effect waves-light white-text bold">
                            <% if (theme.menu[key].icon && theme.menu[key].icon.length > 0) { %>
                            <i class="<%- theme.menu[key].icon %>" style="zoom: 0.6;"></i>
                            <% } %>
                            <span><%- __(key) %></span>
                            </a>
                            <% } else { %>
                            <a href="<%- theme.menu[key].url %>" class="waves-effect waves-light">
                        
                            <% if (theme.menu[key].icon && theme.menu[key].icon.length > 0) { %>
                            <i class="<%- theme.menu[key].icon %>" style="zoom: 0.6;"></i>
                            <% } %>
                            <span><%- __(key) %></span>
                            <i class="fas fa-chevron-down" aria-hidden="true" style="zoom: 0.6;"></i>
                            </a>
                            <ul class="sub-nav menus_item_child ">
                            <% for(let childrenLink of theme.menu[key].children){ %>
                            <li>
                                <a href="<%- url_for(childrenLink.url)%>">
                                <% if (childrenLink.icon && childrenLink.icon.length > 0) { %>
                                <i class="<%- childrenLink.icon %>" style="margin-top: -20px; zoom: 0.6;"></i>
                                <% } %>
                                <span><%- childrenLink.name %></span>
                                </a>
                            </li>
                            <% } %>
                            </ul>
                            <% } %>
                        </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 第二區 -->
    <div class="footer-copyright grey darken-3">
        <div class="container">
            <div class="row">                
                <div class="center col s12 m6 l6">
                    &copy;Photo,&nbsp;Inc.&nbsp;
                    <% if (theme.time.year !== new Date().getFullYear()) { %>
                        <span id="year"><%- theme.time.year %>-<%- new Date().getFullYear() %></span>
                    <% } else { %>
                        <span id="year"><%- theme.time.year %></span>
                    <% } %>
                    All rights reserved
                </div>
                <div class="center col s12 m6 l6 social-link"><%- partial('_partial/social-link-white') %></div>     
            </div>
        </div>
    </div>
    <div class="footer-nfts white">
        <div class="container">
            <div class="row">
                <h1>精選 NFT 欣賞</h1>
            </div>
            <div class="row">
                <div class="col s12 m6 l6">
                    <div class="col s5 m6">
                        <img src="<%- theme.jsDelivr.url %><%- url_for(theme.nftLeft) %>" class="responsive-img" alt="nftIMG">
                    </div>
                    <div class="col s7 m6">
                        <h3>網站名稱</h3>
                        <a class="waves-effect waves-light btn black white-text">官方網站</a>
                        <a class="waves-effect waves-light btn black white-text">我要購買</a>
                    </div>
                    <div class="col s12">
                        <hr>
                    </div>
                </div>
                <div class="col s12 m6 l6">
                    <div class="col s5 m6">
                        <img src="<%- theme.jsDelivr.url %><%- url_for(theme.nftRight) %>" class="responsive-img" alt="nftIMG">
                    </div>
                    <div class="col s7 m6">
                        <h3>網站名稱</h3>
                        <a class="waves-effect waves-light btn black white-text">官方網站</a>
                        <a class="waves-effect waves-light btn black white-text">我要購買</a>
                    </div>
                    <div class="col s12">
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="col s12 m6 l6">
                        <h2>門羅幣挖礦</h2>                    
                    </div>
                    <div class="col s12 m6 l6">
                        <h4 class="right">Github 開源碼連結</h4>    
                    </div>
                    <div class="col s12">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- <div class="progress-bar"></div> -->
