<footer class="page-footer black">
    <div class="container black footer-nav">
        <div class="row">
            <img src="<%- theme.jsDelivr.url %><%- url_for(theme.logoWhite) %>" class="logo-img left" alt="LOGO">
            <div class="right col s4" style="width: auto">
                <div class="footer-item col s3 center white-text" style="width: auto"><a href="/about">關於</a></div>
                <div class="footer-item col s3 center white-text" style="width: auto"><a href="/buybitcoin">購買比特幣</a></div>
                <div class="footer-item col s3 center white-text" style="width: auto"><a href="/">合作夥伴</a></div>
                <div class="footer-item col s3 center white-text" style="width: auto"><a href="/">免責聲明</a></div>
                <div class="footer-item col s3 center white-text" style="width: auto"><a href="/">隱私政策</a></div>
            </div>
        </div>
    </div>
    <!-- 第二區 -->
    <div class="footer-copyright grey darken-3">
        <div class="container">
            <div class="row">                
                <div class="col s12 m3 l3 left ">
                    &copy;Photo,&nbsp;Inc.&nbsp;
                    <% if (theme.time.year !== new Date().getFullYear()) { %>
                        <span id="year"><%- theme.time.year %>-<%- new Date().getFullYear() %></span>
                    <% } else { %>
                        <span id="year"><%- theme.time.year %></span>
                    <% } %>
                    All rights reserved
                </div>
                <div class="col s12 m3 l3 social-link right"><%- partial('_partial/social-link-white') %></div>     
            </div>
        </div>
    </div>
    <div class="footer-nfts white">
        <div class="container">
            <div class="row">
                <h1>精選 NFT 欣賞</h1>
            </div>
            <div class="row">
                <div class="col s12 m6 l6">
                    <div class="col s5 m6">
                        <img src="<%- theme.jsDelivr.url %><%- url_for(theme.nftLeft) %>" class="responsive-img" alt="nftIMG">
                    </div>
                    <div class="col s7 m6">
                        <h3>網站名稱</h3>
                        <a class="waves-effect waves-light btn black white-text">官方網站</a>
                        <a class="waves-effect waves-light btn black white-text">我要購買</a>
                    </div>
                    <div class="col s12">
                        <hr>
                    </div>
                </div>
                <div class="col s12 m6 l6">
                    <div class="col s5 m6">
                        <img src="<%- theme.jsDelivr.url %><%- url_for(theme.nftRight) %>" class="responsive-img" alt="nftIMG">
                    </div>
                    <div class="col s7 m6">
                        <h3>網站名稱</h3>
                        <a class="waves-effect waves-light btn black white-text">官方網站</a>
                        <a class="waves-effect waves-light btn black white-text">我要購買</a>
                    </div>
                    <div class="col s12">
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="col s12 m6 l6">
                        <h2>門羅幣挖礦</h2>                    
                    </div>
                    <div class="col s12 m6 l6">
                        <h4 class="right">Github 開源碼連結</h4>    
                    </div>
                    <div class="col s12">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- <div class="progress-bar"></div> -->
