<div id="headlinesSwiper" class="headlineSwiper" style="height: 100%;">
    <div id="headline-wrapper" class="swiper-wrapper">
        <% page.posts.forEach( (post,index) =>{ %>
            <% if(post.headline == true){ %>
                <div class="swiper-slide">
                    <a href="<%- url_for(post.path) %>">
                        <img src="<%- url_for(post.img) %>" class="swiper-slide-headimg">
                        <span class="swiper-slide-headimg" style="position: absolute; top: 0; left: 0; background: linear-gradient(to top, black, 15%, transparent 50%); height: 100%;"></span>                        
                        <span class="card-content article-content col s12 m7">
                            <div class="headline-publish-info">
                                <!-- 標題 -->                                    
                                <p class="headline-card-title"><%= post.title %></p>
                                <!-- 日期 -->
                                <span class="headline-publish-date">
                                    <%= date(post.date, config.date_format) %>
                                </span><br>
                                <!-- 關鍵字 -->
                                <% if(post.tags && post.tags.length > 0) { %>
                                    <div class="card-action headline-article-tags">
                                        <% post.tags.forEach(tag => { %>
                                        <a href="<%- url_for(tag.path) %>">
                                            <span>#<%= tag.name %></span>
                                        </a>
                                        <% }); %>
                                    </div>
                                <% } %>
                            </div>
                        </span>
                    </a>
                </div>
            <% } %>
        <% }) %>
    </div>
    <button class="swiper-button-prev headline-swiper-button">&lt;</button>
    <button class="swiper-button-next headline-swiper-button"">></button>
</div>


<style>
    .swiper-slide-headimg{
        display: inline-block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0%;
    }

    .headline-swiper-button{
        color: white;
        background: rgba(0,0,0,0%); 
        border: 0px;
        font-size: 72px;
    }

    .headline-swiper-button:hover{
        color: orange;
    }

    #headlinesSwiper {
      overflow: hidden;
    }   

    /* .swiper-slide img {
      display: block;
      width: 96%;
      height: 100%;
      object-fit: cover;
    } */
    .headline-publish-info{
        position: absolute;
        left: 8%;
        bottom: 6%;
        text-align: left;
        line-height: 25px;
    }
    .headline-card-title{
        font-size: 20px;
        color: white !important;
        margin-bottom: 5px;
    }
    .headline-author-link{
        color: white !important;
    }
    .headline-publish-date{
        color: white;
    }
    .headline-summary{
        color: white !important;
    }
    .headline-article-tags span{
        color: white;
    }
    .headlineswiper-button-next{
        position: relative;
        right: 20px;
        top: 50%;
        z-index: 999;
    }
    .headlineswiper-button-prev{
        position: relative;
        left: 20px;
        top: 50%;
        z-index: 999;
    }
</style>

<!-- Initialize Swiper -->
<script>
    const headlinesSwiper = new Swiper(".headlineSwiper", {
    slidesPerView: 'auto',
    spaceBetween: 0,
    loop: true,
    // autoplay: {
    //       delay: 5000,
    //       disableOnInteraction: false,
    // },
    navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
    },
    });

    let headlinesArticle=[]

</script>