
<!-- <header class="navbar-fixed"> -->
 <header class="navbar">
    <nav id="headNav" class="bg-color nav-transparent">
        <div class="bitcoin-price grey lighten-4">
            <div class="btc-price black ">
                <div class="swiper-container" style="height:55px;">
                    <div class="container">
                        <div class="swiper myBtcSwiper">
                            <div class="swiper-wrapper">
                                        
                                <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
                            
                                <!-- 
                                        height: 60px;
                                        width: 128.933px;
                                        /* margin-right: -129.89999999999998px; */
                                        margin-right: -33.89999999999998px;
                                 -->
                                <div class="swiper-slide swiper-btc-block-date" style="height:60px;">
                                    <span style="color: white">
                                        <img src="<%- theme.jsDelivr.url %><%- url_for(theme.iconCal) %>" class="responsive-img" alt="iconCal" style="height:15px; width: 15px; display: inline-block;">
                                        <span id="btc-block-date" style="display: inline-block; color: white">
                                            <script>
                                                var today = new Date();
                                                var dd = String(today.getDate()).padStart(2, '0');
                                                var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0
                                                var yyyy = today.getFullYear();
                                                today = yyyy+ '/' + mm + '/' + dd;
                                                document.getElementById("btc-block-date").innerHTML =  today;                           
                                            </script>
                                        </span>
                                    </span>
                                </div>
                                <div class="swiper-slide swiper-btc-block-value" style="height:60px;">
                                    <span id="header_cropto_name" style="color: white">
                                        BTC
                                        <img src="<%- theme.jsDelivr.url %><%- url_for(theme.iconMoney) %>" class="responsive-img iconMoney" alt="iconMoney" style="height:15px; width: 15px; display: inline-block;">                                        
                                    </span>
                                
                                    <span style="color: white">價格：
                                        <span id="header_crypto_price" style="color: White; display:inline-block; width:60px; margin: 0px;">
                                            <script type="module">
                                                // get data from the func "getData"
                                                // let priceMsg;
                                                let data;
    
                                                axios.get('https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=usd')
                                                    .then((response) => {
                                                        data = JSON.parse(JSON.stringify(response.data));
                                                        document.getElementById("header_crypto_price").innerHTML = data.bitcoin.usd;
                                                    })
                                                    .catch((error) => {
                                                        let data;
                                                        let url = "<%- theme.stock.getCryptoUrl%>" + 'coin=BTC/USDT';
                                                        // url need to be changed
                                                        axios.get(url)
                                                        .then((response) => {
                                                            data = JSON.parse(JSON.stringify(response.data));
                                                            document.getElementById("header_crypto_price").innerHTML = data.result.price;
                                                        })
                                                        .catch((error) => {
                                                            data = error;
                                                            console.log(error);
                                                        });
                                                        return data;
                                                        data = error;
                                                        console.log(error);
                                                    });
                                            </script>
                                        </span>
                                    </span>
                                </div>
                                <div class="swiper-slide swiper-btc-block-high" style="height:60px;">                                  
                                    <span style="color: white">
                                        |
                                        <img src="<%- theme.jsDelivr.url %><%- url_for(theme.iconBlock) %>" class="responsive-img iconBlock" alt="iconBlock" style="height:15px; width: 15px; display: inline-block;">
                                        區塊高度：
                                        <span id="header_crypto_blockhigh" style="color: White; display:inline-block; width:60px; margin: 0px;">
                                            <script type="module">
                                                // get data from the func "getBlockHeight"
                                                import {getBlockHeight} from '/js/crypto.js'
                                                getBlockHeight().then( res => {
                                                    // let blockhighMsg = res; //res.result.區塊高度;
                                                    // show the blockhigh
                                                    document.getElementById("header_crypto_blockhigh").innerHTML = res;
                                                });
                                            </script>
                                        </span>
                                    </span>
                                </div>                                
                                
                                
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>    
                </div>
            </div>
            <div class="container">
                <div class="stock-price">
                    <div class="swiper-container" style="height: 60px;">
                        <div class="swiper mySwiper2" style="height: 55px!important">
                            <div class="swiper-wrapper">
                                
                                <!-- get data from api by ejs axio -->
                                <% for (var i =1; i <=10;  i++ ) { %>
                                    <div class="swiper-slide">
                                        <span id="name-<%= i %>" ></span>
                                        <span id="price-<%= i %>"></span>
                                        <i id="price-<%= i %>_gain_img" class="fa-solid text-darken-3 "></i> 
                                        <span id="price-<%= i %>_gain_text" class="text-darken-3"> 
                                            <span id="price-<%= i %>_gain"></span>
                                        </span>
                                    </div>                                                            
                                <% } %>
                                
                                <% for (var i = 0; i < 5;  i++ ) { %>
                                    <div class="swiper-slide">
                                        <span id="name-empty" ></span>
                                        <span id="price-empty"></span>                                    
                                    </div>                                                     
                                <% } %>                                

                                <!-- 從 api.fishdogeweb.store 取得資料，即 api.py -->
                                <script type="module">
                                    import {getStock} from '/js/crypto.js'
                                    import {setPriceGain} from '/js/crypto.js'
                                    let getDataurl = "<%- theme.stock.getCryptoUrl%>"
                                    let getStockurl = "<%- theme.stock.getStockUrl%>"
                                    const link = [
                                        {
                                            name: 'bitcoin',
                                            coin: 'BTC',
                                        },
                                        {
                                            name: 'ethereum',
                                            coin: 'ETH',
                                        },
                                        {
                                            name: 'ripple',
                                            coin: 'XRP',
                                        },
                                        {
                                            name: 'binance-peg-polkadot',
                                            coin: 'DOT',
                                        },
                                        {
                                            name: 'bitcoin-cash',
                                            coin: 'BCH',
                                        },
                                        {
                                            name: 'litecoin',
                                            coin: 'LTC',
                                        },
                                        {
                                            name: 'cardano',
                                            coin: 'ADA',
                                        },
                                        {
                                            name: 'solana',
                                            coin: 'SOL',
                                        },
                                        {
                                            name: 'aptos',
                                            coin: 'APT',
                                        },
                                        {
                                            name: 'mask-network',
                                            coin: 'MASK',
                                        }
                                    ]

                                    // 自動生成漲跌幅
                                    // for(let i = 0; i < 10; i++){
                                    //     axios.get(`https://api.coingecko.com/api/v3/simple/price?ids=${link[i].name}&vs_currencies=usd&include_24hr_change=true`)
                                    //     .then((gain_res) => {                                       
                                    //             let data = JSON.parse(JSON.stringify(gain_res.data));
                                                
                                                                                        
                                    //     })
                                    //     .catch((error) => {
                                    //         console.log(error);
                                    //     });
                                    // }
                                    // 自動生成交易對
                                    function autoSpawnCryto(){      
                                        let count = 0;                
                                        for (let i = 0; i < 10; i++){
                                            axios.get(`https://api.coingecko.com/api/v3/simple/price?ids=${link[i].name}&vs_currencies=usd&include_24hr_change=true`)
                                            .then((response) => {
                                                let data = JSON.parse(JSON.stringify(response.data));                                                
                                                document.cookie = `gian${i}=${Math.round((data[link[i].name].usd_24h_change + Number.EPSILON) * 100)/100};`; 
                                                document.cookie = `value${i}=${data[link[i].name].usd};`;
                                                count++;                                                
                                                if(count==9){                                                    
                                                    getCookie();
                                                }
                                            })
                                            .catch((error) => {
                                                let data;
                                                let url = getDataurl + `coin=${link[i].coin}/USDT`;
                                                // url need to be changed
                                                axios.get(url)
                                                .then((response) => {
                                                    data = JSON.parse(JSON.stringify(response.data));
                                                    document.getElementById(`name-${i+1}`).innerHTML = `${link[i].coin}/USDT`;
                                                    document.getElementById(`price-${i+1}`).innerHTML = data.result.price;
                                                    return data;
                                                })
                                                .catch((error) => {
                                                    data = error;
                                                    console.log(error);
                                                    getCookie();
                                                });
                                                return data;
                                                data = error;
                                                console.log(error);     
                                                getCookie();                                           
                                            });
                                            document.getElementById(`name-${i+1}`).innerHTML = `${link[i].coin}/USDT`;
                                        }                                                                                                                 
                                    }

                                    function getCookie() {                                                
                                        var Data = document.cookie.split("; ");     
                                        console.log(Data);
                                        Data.forEach(element => {
                                            if(element.substring(0, 4) == "gian"){    
                                                let gain = parseFloat(element.split('=')[1])
                                                if (gain > 0){
                                                    document.getElementById(`price-${parseInt(element[4])+1}_gain_img`).classList.add("fa-caret-up");
                                                    document.getElementById(`price-${parseInt(element[4])+1}_gain_img`).classList.add("green-text");
                                                    document.getElementById(`price-${parseInt(element[4])+1}_gain_text`).classList.add("green-text");                                                                                                        
                                                } else if (gain == 0){

                                                }
                                                else{
                                                    document.getElementById(`price-${parseInt(element[4])+1}_gain_img`).classList.add("fa-caret-down");
                                                    document.getElementById(`price-${parseInt(element[4])+1}_gain_img`).classList.add("red-text");
                                                    document.getElementById(`price-${parseInt(element[4])+1}_gain_text`).classList.add("red-text");
                                                    gain *= -1;
                                                }                                                                                                                                
                                                document.getElementById(`price-${parseInt(element[4])+1}_gain`).innerHTML = gain + "%";
                                            }
                                            else if(element.substring(0, 5) == "value"){                                                   
                                                document.getElementById(`price-${parseInt(element[5])+1}`).innerHTML = element.split('=')[1];
                                            }
                                        });
                                    }
                                    
                                    //init
                                    autoSpawnCryto();

                                    setTimeout(function(){
                                        autoSpawnCryto();                                        
                                    }, 30000);
                                    
                                </script>                                                                               
                            </div>                       
			                <div class="swiper-button-next">                                                      
                                <i class="fa-solid fa-chevron-right swiper-button-right" id="next"></i>
                            </div>
			                <span class="fa-solid"></span>			    
                            <div class="swiper-button-prev" style="z-index: 999;">			    
                                <i class="fa-solid fa-chevron-left swiper-button-left" id="prev"></i>
                            </div>                            
                            <div class="swiper-pagination"></div>

                            <style>
                                .swiper-button-right{                                    
                                    color: black;
                                    height: auto;
                                    font-size: x-large;
                                    position: relative;
                                    width: 100%;
				                    top: 8px;
                                    right: -14px;
                                    text-align: center;             
                                    background-color: rgb(247, 247, 247);               
                                }
                                .swiper-button-left{                                    
                                    color: black;
                                    height: auto;
                                    font-size: x-large;
                                    position: relative;
                                    width: 100%;
				                    top: 8px;
                                    left: -14px;
                                    text-align: center;   
                                    background-color: rgb(247, 247, 247);                         
                                }
                                @media screen and (max-width:610px) {
                                    .swiper-button-right{    
				                        top: 4px;                                                                             
                                    }
                                    .swiper-button-left{   
				                        top: 4px;                                                                              
                                    }
                                }
                            </style>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- partial('_partial/navigation') %>
        <%- partial('_partial/slider') %>

        <% if (theme.githubLink && theme.githubLink.enable) { %>
            <%- partial('_partial/github-link') %>
                <% } %>
    </nav>

</header>
