
<!-- <header class="navbar-fixed"> -->
 <header class="navbar">
    <div id="header-ad" class="ad-block">
        <span class="ad-text">廣告廣告廣告廣告廣告廣告廣告廣告</span>
        <button id="header-closeBtn" class="ad-close"><img src="/medias/ad-close.svg"></button>
    </div>
    <nav id="headNav" class="bg-color white nav-transparent" style="height: auto;">
        <div class="bitcoin-price grey lighten-4">
            <div class="btc-price">
                <div class="swiper-container" style="height:55px;">
                    <div class="container">
                        <div class="swiper myBtcSwiper">
                            <div class="swiper-wrapper">
                                        
                                <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
                            
                                <!-- 
                                        height: 60px;
                                        width: 128.933px;
                                        /* margin-right: -129.89999999999998px; */
                                        margin-right: -33.89999999999998px;
                                 -->
                                <div class="swiper-slide swiper-btc-block-date" style="height:60px;">
                                    <a href="">
                                        <span style="color: black;">
                                            <img src="/medias/icon-calender-black.png" class="responsive-img" alt="iconCal" style="margin-top: 20px; height:16px; width: 16px; display: inline-block;">
                                            <span id="btc-block-date" style="display: inline-block;">
                                                <script>
                                                    var today = new Date();
                                                    var dd = String(today.getDate()).padStart(2, '0');
                                                    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0
                                                    var yyyy = today.getFullYear();
                                                    today = yyyy+ '/' + mm + '/' + dd;
                                                    document.getElementById("btc-block-date").innerHTML =  today;                           
                                                </script>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div class="swiper-slide swiper-btc-block-value" style="height:60px; max-width: 169px;">
                                    <a href="">
                                        <span id="header_cropto_name" style="color: black;margin-right: 0px; ">
                                            ₿                                   
                                        </span>
                                    
                                        <span style="color: black;">價格：
                                            <span id="header_crypto_price" style="display:inline-block; width:60px; margin: 0px;">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div class="swiper-slide swiper-btc-block-high" style="height:60px; left: -30px;">    
                                    <a href="">                       
                                        <span style=" width: 360px;">
                                            <!-- <span style="font-size: 24px; font-weight: 50; top: -3px; position: relative;color: black;">|</span>  -->
                                            <svg style="top: 1px; position: relative;" width="15" height="15" viewBox="0 0 15 15" fill="black" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7.10156 14.4297H8.17188V0.929688H7.10156V14.4297ZM0.882812 8.21875H14.3906V7.14062H0.882812V8.21875ZM3.14844 14.4297H12.1328C12.888 14.4297 13.4531 14.2422 13.8281 13.8672C14.2031 13.4922 14.3906 12.9349 14.3906 12.1953V3.16406C14.3906 2.42448 14.2031 1.86719 13.8281 1.49219C13.4531 1.11719 12.888 0.929688 12.1328 0.929688H3.14844C2.39323 0.929688 1.82552 1.11719 1.44531 1.49219C1.07031 1.86198 0.882812 2.41927 0.882812 3.16406V12.1953C0.882812 12.9401 1.07031 13.4974 1.44531 13.8672C1.82552 14.2422 2.39323 14.4297 3.14844 14.4297ZM3.16406 13.3516C2.77865 13.3516 2.48177 13.25 2.27344 13.0469C2.07031 12.8438 1.96875 12.5417 1.96875 12.1406V3.21875C1.96875 2.81771 2.07031 2.51562 2.27344 2.3125C2.48177 2.10938 2.77865 2.00781 3.16406 2.00781H12.1172C12.4974 2.00781 12.7917 2.10938 13 2.3125C13.2083 2.51562 13.3125 2.81771 13.3125 3.21875V12.1406C13.3125 12.5417 13.2083 12.8438 13 13.0469C12.7917 13.25 12.4974 13.3516 12.1172 13.3516H3.16406Z""/>
                                                </svg>
                                            <span style="color: black; margin-right: 0px;">區塊高度：</span>
                                            <span id="header_crypto_blockhigh" style="color: black; display:inline-block; width:60px; margin: 0px;">
                                            </span>
                                        </span>
                                    </a>       
                                </div>                                
                                
                                
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
            <div class="container">
                <div class="stock-price">
                    <div class="swiper-container" style="height: 60px;">
                        <div class="swiper mySwiper2" style="height: 60px;">
                            <div class="swiper-wrapper" style="line-height: 60px;">
                                
                                <!-- get data from api by ejs axio -->
                                <% for (var i =1; i <=10;  i++ ) { %>
                                    <div class="swiper-slide" style="width: auto; padding: 0 15px;">
                                        <span id="name-<%= i %>" ></span>
                                        <span id="price-<%= i %>"></span>
                                        <i id="price-<%= i %>_gain_img" class="fa-solid text-darken-3 "></i> 
                                        <span id="price-<%= i %>_gain_text" class="text-darken-3"> 
                                            <span id="price-<%= i %>_gain"></span>
                                        </span>
                                    </div>                                                            
                                <% } %>
                                
                                <!-- <% for (var i = 0; i < 3;  i++ ) { %>
                                    <div class="swiper-slide">
                                        <span id="name-empty" ></span>
                                        <span id="price-empty"></span>                                    
                                    </div>                                                     
                                <% } %>                                 -->

                                <!-- 從 api.fishdogeweb.store 取得資料，即 api.py -->
                                <script type="module">
                                    import {getStock} from '/js/crypto.js'
                                    import {setPriceGain} from '/js/crypto.js'
                                    let getDataurl = "<%- theme.stock.getCryptoUrl%>"
                                    let getStockurl = "<%- theme.stock.getStockUrl%>"
                                    const link = [
                                        {
                                            name: 'bitcoin',
                                            coin: 'BTC',
                                        },
                                        {
                                            name: 'ethereum',
                                            coin: 'ETH',
                                        },
                                        {
                                            name: 'ripple',
                                            coin: 'XRP',
                                        },
                                        {
                                            name: 'binance-peg-polkadot',
                                            coin: 'DOT',
                                        },
                                        {
                                            name: 'bitcoin-cash',
                                            coin: 'BCH',
                                        },
                                        {
                                            name: 'litecoin',
                                            coin: 'LTC',
                                        },
                                        {
                                            name: 'cardano',
                                            coin: 'ADA',
                                        },
                                        {
                                            name: 'solana',
                                            coin: 'SOL',
                                        },
                                        {
                                            name: 'aptos',
                                            coin: 'APT',
                                        },
                                        {
                                            name: 'mask-network',
                                            coin: 'MASK',
                                        }
                                    ]

                                    // 自動生成漲跌幅
                                    // for(let i = 0; i < 10; i++){
                                    //     axios.get(`https://api.coingecko.com/api/v3/simple/price?ids=${link[i].name}&vs_currencies=usd&include_24hr_change=true`)
                                    //     .then((gain_res) => {                                       
                                    //             let data = JSON.parse(JSON.stringify(gain_res.data));
                                                
                                                                                        
                                    //     })
                                    //     .catch((error) => {
                                    //         console.log(error);
                                    //     });
                                    // }
                                    // get BTC block height
                                    function getBlockHeight(){
                                        // https://chain.api.btc.com/v3/block/latest
                                        axios.get('https://chain.api.btc.com/v3/block/latest')
                                        .then((response) => {
                                            let data = JSON.parse(JSON.stringify(response.data));
                                            document.cookie = `height=${data['data']['height']}`;
                                            document.getElementById("header_crypto_blockhigh").innerHTML = data['data']['height'];
                                        })
                                        .catch((error) => {
                                            console.log(error)
                                            getCookie()                                        
                                        })
                                    }

                                    
                                    // 自動生成交易對
                                    function autoSpawnCryto(){      
                                        let count = 0;         
                                        getBlockHeight();    
                                        for (let i = 0; i < 10; i++){
                                            axios.get(`https://api.coingecko.com/api/v3/simple/price?ids=${link[i].name}&vs_currencies=usd&include_24hr_change=true`)
                                            .then((response) => {
                                                let data = JSON.parse(JSON.stringify(response.data));                                                
                                                document.cookie = `gian${i}=${Math.round((data[link[i].name].usd_24h_change + Number.EPSILON) * 100)/100};`; 
                                                document.cookie = `value${i}=${data[link[i].name].usd};`;
                                                count++;                                                
                                                if(count==9){                                                    
                                                    getCookie();
                                                }
                                            })
                                            .catch((error) => {
                                                let data;
                                                let url = getDataurl + `coin=${link[i].coin}/USDT`;
                                                // url need to be changed
                                                axios.get(url)
                                                .then((response) => {
                                                    data = JSON.parse(JSON.stringify(response.data));
                                                    document.getElementById(`name-${i+1}`).innerHTML = `${link[i].coin}/USDT`;
                                                    document.getElementById(`price-${i+1}`).innerHTML = data.result.price;
                                                    return data;
                                                })
                                                .catch((error) => {
                                                    data = error;
                                                    console.log(error);
                                                    getCookie();
                                                });
                                                data = error;
                                                console.log(error);     
                                                getCookie(); 
                                                return data;
                                            });
                                            document.getElementById(`name-${i+1}`).innerHTML = `${link[i].coin}/USDT`;
                                        }                                                                                                                 
                                    }

                                    function getCookie() {                                                
                                        var Data = document.cookie.split("; ");
                                        Data.forEach(element => {
                                            if(element.substring(0, 4) == "gian") {    
                                                let gain = parseFloat(element.split('=')[1])
                                                if (gain > 0){
                                                    document.getElementById(`price-${parseInt(element[4])+1}_gain_img`).classList.add("fa-caret-up");
                                                    document.getElementById(`price-${parseInt(element[4])+1}_gain_img`).classList.add("green-text");
                                                    document.getElementById(`price-${parseInt(element[4])+1}_gain_text`).classList.add("green-text");                                                                                                        
                                                } else if (gain == 0){

                                                }
                                                else{
                                                    document.getElementById(`price-${parseInt(element[4])+1}_gain_img`).classList.add("fa-caret-down");
                                                    document.getElementById(`price-${parseInt(element[4])+1}_gain_img`).classList.add("red-text");
                                                    document.getElementById(`price-${parseInt(element[4])+1}_gain_text`).classList.add("red-text");
                                                    gain *= -1;
                                                }                                                                                                                                
                                                document.getElementById(`price-${parseInt(element[4])+1}_gain`).innerHTML = gain + "%";
                                            }
                                            else if(element.substring(0, 5) == "value") {                                                
                                                document.getElementById(`price-${parseInt(element[5])+1}`).innerHTML = element.split('=')[1];
                                                if(element[5] == "0") {
                                                    document.getElementById("header_crypto_price").innerHTML = element.split('=')[1];
                                                }
                                            }
                                            else if(element.substring(0, 6) == "height") {
                                                document.getElementById("header_crypto_blockhigh").innerHTML = element.split('=')[1];
                                            }
                                        });
                                    }
                                    
                                    //init
                                    autoSpawnCryto();
                                    getCookie();
                                    setTimeout(function(){
                                        autoSpawnCryto();                                        
                                    }, 30000);
                                    
                                </script>                                                                               
                            </div>                       
			                <div class="swiper-button-next">                                                      
                                <i class="fa-solid fa-chevron-right swiper-button-right top10swiper" style="color: black;" id="next"></i>
                            </div>
			                <span class="fa-solid"></span>			    
                            <div class="swiper-button-prev" style="z-index: 999;">			    
                                <i class="fa-solid fa-chevron-left swiper-button-left top10swiper" style="color: black;" id="prev"></i>
                            </div>                            

                            <style>
                                .swiper-button-right {                                    
                                    color: whites;
                                    position: relative;
                                    width: 100%;
				                    top: 3px;
                                    right: -19px;
                                    text-align: center;             
                                    background-color: rgb(247, 247, 247);               
                                }
                                .swiper-button-left{                                    
                                    color: black;
                                    position: relative;
                                    width: 100%;
				                    top: 3px;
                                    left: -14px;
                                    text-align: center;   
                                    background-color: rgb(247, 247, 247);                         
                                }
                                @media screen and (max-width:610px) {
                                    .swiper-button-right{    
				                        top: 4px;                                                                             
                                    }
                                    .swiper-button-left{   
				                        top: 4px;                                                                              
                                    }
                                }
                            </style>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--移除頂部廣告-->
        <script>
            const headerCloseBtn=document.getElementById('header-closeBtn')
            const headerAD=document.getElementById('header-ad') 

            headerCloseBtn.addEventListener('click',()=>{
                headerAD.remove() 
            }) 
        </script>
        <%- partial('_partial/navigation') %>
        <%- partial('_partial/slider') %>

        <% if (theme.githubLink && theme.githubLink.enable) { %>
            <%- partial('_partial/github-link') %>
                <% } %>
    </nav>

</header>
