<div id="headlinesSwiper" class="headlineSwiper">
    <div id="headline-wrapper" class="swiper-wrapper">
        <% page.posts.forEach( (post,index) =>{ %>
            <% if(post.headline == true){ %>
                <div class="swiper-slide">
                    <a href="<%- url_for(post.path) %>"><img src="<%- url_for(post.img) %>">
                        <span class="card-content article-content col s12 m7">
                            <div class="headline-publish-info">
                                <!-- 標題 -->                                    
                                <p class="headline-card-title"><%= post.title %></p>
                                <!-- 作者 -->
                                <span class="publish-author">
                                    <% if (post.categories && post.categories.length > 0) { %>
                                    <% post.categories.forEach(category => { %>
                                    <a href="<%- url_for(category.path) %>" class="post-category">
                                        <%- category.name %>
                                    </a>
                                    <% }); %>
                                    <% } else if (post.authorId && post.authorId.length > 0) { %>
                                    <a href="/author/<%- post.authorId %>" class="headline-author-link">
                                        <%- post.authorId %>
                                    </a>
                                    <% } else { %>
                                    <%- config.author %>
                                    <% } %>
                                </span><br>
                                <!-- 日期 -->
                                <span class="headline-publish-date">
                                    <%= date(post.date, config.date_format) %>
                                </span><br>
                                <!-- 文章摘要 -->
                                <div class="headline-summary">
                                    <% if (post.summary && post.summary.length > 0) { %>
                                        <%- post.summary %>...
                                    <% } else if (post.excerpt && post.excerpt.length > 0) { %>
                                        <%- strip_html(post.excerpt).substring(0, 120) %>
                                    <% } else if (post.content && post.content.length > 0) { %>
                                        <%- strip_html(post.content).substring(0, 120) %>
                                    <% } %>
                                </div>
                                <!-- 關鍵字 -->
                                <% if(post.tags && post.tags.length > 0) { %>
                                    <div class="card-action headline-article-tags">
                                        <% post.tags.forEach(tag => { %>
                                        <a href="<%- url_for(tag.path) %>">
                                            <span>#<%= tag.name %></span>
                                        </a>
                                        <% }); %>
                                    </div>
                                <% } %>
                            </div>
                        </span>
                    </a>
                </div>
            <% } %>
        <% }) %>
    </div>
    <div class="headlineswiper-button-next">
        <i class="fa-solid fa-chevron-right" style="
        color: white;
        background-color: black;
        height: auto;
        font-size: x-large;
        position: absolute;
        right: 10%;
        bottom: 55%;
        width: 20px;
        text-align: center;
        cursor: pointer;
        z-index: 5;
        "></i>
    </div>
    <div class="headlineswiper-button-prev">
        <i class="fa-solid fa-chevron-left" style="
        color: white;
        background-color: black;
        height: auto;
        font-size: x-large;
        position: absolute;
        left: 10%;
        bottom: 55%;
        width: 20px;
        text-align: center;
        cursor: pointer;
        z-index: 5;
        "></i>
    </div>
</div>


<style>
    .headline-block{
      width: 100%;
      height: 100%!important;
      max-height: 18%;
      padding: 3%;
      position: relative;
    }
    #headlinesSwiper {
      overflow: hidden;
    }
    .swiper-slide img {
      display: block;
      width: 96%;
      height: 54%;
      object-fit: cover;
    }
    .headline-publish-info{
        position: absolute;
        left: 8%;
        bottom: 6%;
        text-align: left;
        line-height: 25px;
    }
    .headline-card-title{
        font-size: 20px;
        color: white !important;
        margin-bottom: 5px;
    }
    .headline-author-link{
        color: white !important;
    }
    .headline-publish-date{
        color: white;
    }
    .headline-summary{
        color: white !important;
    }
    .headline-article-tags span{
        color: white;
    }
</style>

<!-- Initialize Swiper -->
<script>
    const headlinesSwiper = new Swiper(".headlineSwiper", {
    slidesPerView: 'auto',
    spaceBetween:1000,
    loop: true,
    autoplay: {
          delay: 5000,
          disableOnInteraction: false,
    },
    navigation: {
        nextEl: ".headlineswiper-button-next",
        prevEl: ".headlineswiper-button-prev",
    },
    });

    let headlinesArticle=[]

</script>