<!-- <header class="navbar-fixed"> -->
<header class="navbar">
    <nav id="headNav" class="bg-color nav-transparent">
        <div class="bitcoin-price">
            <div class="btc-price black">
                <div class="container">
                    <img src="<%- theme.jsDelivr.url %><%- url_for(theme.iconCal) %>" class="responsive-img" alt="iconCal">
                    <span><%- date(Date.now(), 'YYYY/M/D') %></span>
                    <span>BTC</span>
                    <img src="<%- theme.jsDelivr.url %><%- url_for(theme.iconMoney) %>" class="responsive-img" alt="iconMoney">
                    <span>價格：
                        <span>20,000</span>
                    </span>
                    <span>|</span>
                    <img src="<%- theme.jsDelivr.url %><%- url_for(theme.iconBlock) %>" class="responsive-img" alt="iconBlock">
                    <span>區塊高度：
                        <span>500</span>
                    </span>
                </div>
            </div>
            <div class="stock-price grey lighten-4">
                <div class="container">
                    <div class="stock">
                        <span>S&P 500</span>
                        <span>3845.08</span>
                        <i class="fa-solid fa-caret-up green-text text-darken-3"></i>
                        <span class="green-text text-darken-3">+0.36%</span>
                    </div>
                    <div class="stock">
                        <span>Nasdaq</span>
                        <span>11361.85</span>
                        <i class="fa-solid fa-caret-up green-text text-darken-3"></i>
                        <span class="green-text text-darken-3">+0.35%</span>
                    </div>
                    <div class="stock">
                        <span>Crude oil</span>
                        <span>98.93</span>
                        <i class="fa-solid fa-caret-up green-text text-darken-3"></i>
                        <span class="green-text text-darken-3">+0.41%</span>
                    </div>
                    <div class="stock">
                        <span>US 10 Yr</span>
                        <span>2.91</span>
                        <i class="fa-solid fa-caret-up green-text text-darken-3"></i>
                        <span class="green-text text-darken-3">+0.13%</span>
                    </div>
                </div>
            </div>
        </div>
        <%- partial('_partial/navigation') %>
        <%- partial('_partial/slider') %>

        <% if (theme.githubLink && theme.githubLink.enable) { %>
            <%- partial('_partial/github-link') %>
                <% } %>
    </nav>

</header>