
<!-- <header class="navbar-fixed"> -->
 <header class="navbar">
    <div id="header-ad" class="ad-block">
        <span class="ad-text">廣告廣告廣告廣告廣告廣告廣告廣告</span>
        <button id="header-closeBtn" class="ad-close"><img src="/medias/ad-close.svg"></button>
    </div>
    <nav id="headNav" class="bg-color white nav-transparent" style="height: auto;">
        <div class="bitcoin-price grey lighten-4">
            <div class="btc-price">
                <div class="swiper-container" style="height:55px;">
                    <div class="container">
                        <div class="swiper myBtcSwiper">
                            <div class="swiper-wrapper">
                                        
                                <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
                            
                                <!-- 
                                        height: 60px;
                                        width: 128.933px;
                                        /* margin-right: -129.89999999999998px; */
                                        margin-right: -33.89999999999998px;
                                 -->
                                <div class="swiper-slide swiper-btc-block-date" style="height:60px;">
                                    <a href="">
                                        <span style="color: black;">
                                            <img src="/medias/icon-calender-black.png" class="responsive-img" alt="iconCal" style="margin-top: 20px; height:16px; width: 16px; display: inline-block;">
                                            <span id="btc-block-date" style="display: inline-block;">
                                                <script>
                                                    var today = new Date();
                                                    var dd = String(today.getDate()).padStart(2, '0');
                                                    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0
                                                    var yyyy = today.getFullYear();
                                                    today = yyyy+ '/' + mm + '/' + dd;
                                                    document.getElementById("btc-block-date").innerHTML =  today;                           
                                                </script>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div class="swiper-slide swiper-btc-block-value" style="height:60px;">
                                    <a href="">
                                        <span id="header_cropto_name" style="color: black;">
                                            <span>BTC</span> 
                                            <svg style="top: 3px; position: relative;" width="16" height="16" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7.80469 15.1484C8.83073 15.1484 9.79427 14.9531 10.6953 14.5625C11.5964 14.1719 12.3906 13.6328 13.0781 12.9453C13.7708 12.2578 14.3125 11.4635 14.7031 10.5625C15.0938 9.65625 15.2891 8.6901 15.2891 7.66406C15.2891 6.64323 15.0911 5.68229 14.6953 4.78125C14.3047 3.875 13.763 3.07812 13.0703 2.39062C12.3828 1.69792 11.5885 1.15625 10.6875 0.765625C9.78646 0.375 8.82292 0.179688 7.79688 0.179688C6.77604 0.179688 5.8151 0.375 4.91406 0.765625C4.01302 1.15625 3.21615 1.69792 2.52344 2.39062C1.83594 3.07812 1.29688 3.875 0.90625 4.78125C0.515625 5.68229 0.320312 6.64323 0.320312 7.66406C0.320312 8.6901 0.515625 9.65625 0.90625 10.5625C1.30208 11.4635 1.84375 12.2578 2.53125 12.9453C3.21875 13.6328 4.01302 14.1719 4.91406 14.5625C5.8151 14.9531 6.77865 15.1484 7.80469 15.1484ZM7.80469 14.0156C6.92448 14.0156 6.09896 13.8516 5.32812 13.5234C4.5625 13.1953 3.89062 12.7422 3.3125 12.1641C2.73438 11.5807 2.28125 10.9062 1.95312 10.1406C1.625 9.36979 1.46094 8.54427 1.46094 7.66406C1.46094 6.78906 1.625 5.96875 1.95312 5.20312C2.28125 4.43229 2.73438 3.75781 3.3125 3.17969C3.89062 2.59635 4.5625 2.14062 5.32812 1.8125C6.09375 1.48438 6.91667 1.32031 7.79688 1.32031C8.68229 1.32031 9.50781 1.48438 10.2734 1.8125C11.0391 2.14062 11.7109 2.59635 12.2891 3.17969C12.8724 3.75781 13.3281 4.43229 13.6562 5.20312C13.9844 5.96875 14.1484 6.78906 14.1484 7.66406C14.1536 8.54427 13.9922 9.36979 13.6641 10.1406C13.3359 10.9062 12.8802 11.5807 12.2969 12.1641C11.7188 12.7422 11.0443 13.1953 10.2734 13.5234C9.50781 13.8516 8.6849 14.0156 7.80469 14.0156ZM7.80469 11.8672C7.89844 11.8672 7.97396 11.8385 8.03125 11.7812C8.09375 11.7188 8.125 11.6406 8.125 11.5469V11.0078C8.70312 10.9609 9.1875 10.776 9.57812 10.4531C9.96875 10.125 10.1641 9.6875 10.1641 9.14062C10.1641 8.65104 10.0026 8.25781 9.67969 7.96094C9.36198 7.66406 8.88542 7.45312 8.25 7.32812L8.125 7.30469V5.17969C8.41146 5.22656 8.65104 5.33333 8.84375 5.5C9.04167 5.66146 9.17448 5.86979 9.24219 6.125C9.3151 6.35417 9.45312 6.46875 9.65625 6.46875C9.77083 6.46875 9.86458 6.43229 9.9375 6.35938C10.0156 6.28125 10.0547 6.18229 10.0547 6.0625C10.0547 6.02604 10.0521 5.98958 10.0469 5.95312C10.0417 5.91146 10.0339 5.875 10.0234 5.84375C9.92969 5.44792 9.70833 5.1224 9.35938 4.86719C9.01562 4.60677 8.60417 4.44792 8.125 4.39062V3.88281C8.125 3.78906 8.09375 3.71094 8.03125 3.64844C7.97396 3.58594 7.89844 3.55469 7.80469 3.55469C7.58594 3.55469 7.47656 3.66406 7.47656 3.88281V4.39062C6.91927 4.45312 6.46094 4.64583 6.10156 4.96875C5.7474 5.29167 5.57031 5.70312 5.57031 6.20312C5.57031 6.66146 5.72396 7.03385 6.03125 7.32031C6.34375 7.60156 6.80469 7.8151 7.41406 7.96094L7.47656 7.96875V10.2266C7.1276 10.1849 6.84635 10.0729 6.63281 9.89062C6.42448 9.70833 6.29167 9.48698 6.23438 9.22656C6.19792 9.10677 6.14323 9.01823 6.07031 8.96094C6.0026 8.90365 5.91667 8.875 5.8125 8.875C5.69792 8.875 5.60417 8.91406 5.53125 8.99219C5.45833 9.0651 5.42188 9.16406 5.42188 9.28906C5.42188 9.32031 5.42448 9.35417 5.42969 9.39062C5.4401 9.42708 5.44792 9.46354 5.45312 9.5C5.55729 9.92708 5.79427 10.2734 6.16406 10.5391C6.53906 10.7995 6.97656 10.9531 7.47656 11V11.5469C7.47656 11.7604 7.58594 11.8672 7.80469 11.8672ZM7.47656 7.14062L7.42188 7.125C7.07292 7.02604 6.8151 6.89844 6.64844 6.74219C6.48177 6.58594 6.39844 6.39062 6.39844 6.15625C6.39844 5.91667 6.49479 5.70833 6.6875 5.53125C6.88542 5.34896 7.14844 5.23177 7.47656 5.17969V7.14062ZM8.125 8.14062L8.28906 8.17188C8.66927 8.27604 8.9375 8.41146 9.09375 8.57812C9.25 8.73958 9.32812 8.94271 9.32812 9.1875C9.32812 9.46354 9.22656 9.69792 9.02344 9.89062C8.82031 10.0781 8.52083 10.1901 8.125 10.2266V8.14062Z"/>
                                                </svg>                                        
                                        </span>
                                    
                                        <span style="color: black;">價格：
                                            <span id="header_crypto_price" style="display:inline-block; width:60px; margin: 0px;">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div class="swiper-slide swiper-btc-block-high" style="height:60px;">    
                                    <a href="">                       
                                        <span style=" width: 360px;">
                                            <span style="margin-left: 20px; font-size: 24px; font-weight: 50; top: -3px; position: relative;color: black;">|</span> 
                                            <svg style="top: 1px; position: relative;" width="15" height="15" viewBox="0 0 15 15" fill="black" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7.10156 14.4297H8.17188V0.929688H7.10156V14.4297ZM0.882812 8.21875H14.3906V7.14062H0.882812V8.21875ZM3.14844 14.4297H12.1328C12.888 14.4297 13.4531 14.2422 13.8281 13.8672C14.2031 13.4922 14.3906 12.9349 14.3906 12.1953V3.16406C14.3906 2.42448 14.2031 1.86719 13.8281 1.49219C13.4531 1.11719 12.888 0.929688 12.1328 0.929688H3.14844C2.39323 0.929688 1.82552 1.11719 1.44531 1.49219C1.07031 1.86198 0.882812 2.41927 0.882812 3.16406V12.1953C0.882812 12.9401 1.07031 13.4974 1.44531 13.8672C1.82552 14.2422 2.39323 14.4297 3.14844 14.4297ZM3.16406 13.3516C2.77865 13.3516 2.48177 13.25 2.27344 13.0469C2.07031 12.8438 1.96875 12.5417 1.96875 12.1406V3.21875C1.96875 2.81771 2.07031 2.51562 2.27344 2.3125C2.48177 2.10938 2.77865 2.00781 3.16406 2.00781H12.1172C12.4974 2.00781 12.7917 2.10938 13 2.3125C13.2083 2.51562 13.3125 2.81771 13.3125 3.21875V12.1406C13.3125 12.5417 13.2083 12.8438 13 13.0469C12.7917 13.25 12.4974 13.3516 12.1172 13.3516H3.16406Z""/>
                                                </svg>
                                            <span style="color: black;">區塊高度：</span>
                                            <span id="header_crypto_blockhigh" style="color: black; display:inline-block; width:60px; margin: 0px;">
                                            </span>
                                        </span>
                                    </a>       
                                </div>                                
                                
                                
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
            <div class="container">
                <div class="stock-price">
                    <div class="swiper-container" style="height: 60px;">
                        <div class="swiper mySwiper2" style="height: 60px;">
                            <div class="swiper-wrapper" style="line-height: 60px;">
                                
                                <!-- get data from api by ejs axio -->
                                <% for (var i =1; i <=10;  i++ ) { %>
                                    <div class="swiper-slide" style="width: auto; padding: 0 15px;">
                                        <span id="name-<%= i %>" ></span>
                                        <span id="price-<%= i %>"></span>
                                        <i id="price-<%= i %>_gain_img" class="fa-solid text-darken-3 "></i> 
                                        <span id="price-<%= i %>_gain_text" class="text-darken-3"> 
                                            <span id="price-<%= i %>_gain"></span>
                                        </span>
                                    </div>                                                            
                                <% } %>
                                
                                <!-- <% for (var i = 0; i < 3;  i++ ) { %>
                                    <div class="swiper-slide">
                                        <span id="name-empty" ></span>
                                        <span id="price-empty"></span>                                    
                                    </div>                                                     
                                <% } %>                                 -->

                                <!-- 從 api.fishdogeweb.store 取得資料，即 api.py -->
                                <script type="module">
                                    import {getStock} from '/js/crypto.js'
                                    import {setPriceGain} from '/js/crypto.js'
                                    let getDataurl = "<%- theme.stock.getCryptoUrl%>"
                                    let getStockurl = "<%- theme.stock.getStockUrl%>"
                                    const link = [
                                        {
                                            name: 'bitcoin',
                                            coin: 'BTC',
                                        },
                                        {
                                            name: 'ethereum',
                                            coin: 'ETH',
                                        },
                                        {
                                            name: 'ripple',
                                            coin: 'XRP',
                                        },
                                        {
                                            name: 'binance-peg-polkadot',
                                            coin: 'DOT',
                                        },
                                        {
                                            name: 'bitcoin-cash',
                                            coin: 'BCH',
                                        },
                                        {
                                            name: 'litecoin',
                                            coin: 'LTC',
                                        },
                                        {
                                            name: 'cardano',
                                            coin: 'ADA',
                                        },
                                        {
                                            name: 'solana',
                                            coin: 'SOL',
                                        },
                                        {
                                            name: 'aptos',
                                            coin: 'APT',
                                        },
                                        {
                                            name: 'mask-network',
                                            coin: 'MASK',
                                        }
                                    ]

                                    // 自動生成漲跌幅
                                    // for(let i = 0; i < 10; i++){
                                    //     axios.get(`https://api.coingecko.com/api/v3/simple/price?ids=${link[i].name}&vs_currencies=usd&include_24hr_change=true`)
                                    //     .then((gain_res) => {                                       
                                    //             let data = JSON.parse(JSON.stringify(gain_res.data));
                                                
                                                                                        
                                    //     })
                                    //     .catch((error) => {
                                    //         console.log(error);
                                    //     });
                                    // }
                                    // get BTC block height
                                    function getBlockHeight(){
                                        // https://chain.api.btc.com/v3/block/latest
                                        axios.get('https://chain.api.btc.com/v3/block/latest')
                                        .then((response) => {
                                            let data = JSON.parse(JSON.stringify(response.data));
                                            document.cookie = `height=${data['data']['height']}`;
                                            document.getElementById("header_crypto_blockhigh").innerHTML = data['data']['height'];
                                        })
                                        .catch((error) => {
                                            console.log(error)
                                            getCookie()                                        
                                        })
                                    }

                                    
                                    // 自動生成交易對
                                    function autoSpawnCryto(){      
                                        let count = 0;         
                                        getBlockHeight();    
                                        for (let i = 0; i < 10; i++){
                                            axios.get(`https://api.coingecko.com/api/v3/simple/price?ids=${link[i].name}&vs_currencies=usd&include_24hr_change=true`)
                                            .then((response) => {
                                                let data = JSON.parse(JSON.stringify(response.data));                                                
                                                document.cookie = `gian${i}=${Math.round((data[link[i].name].usd_24h_change + Number.EPSILON) * 100)/100};`; 
                                                document.cookie = `value${i}=${data[link[i].name].usd};`;
                                                count++;                                                
                                                if(count==9){                                                    
                                                    getCookie();
                                                }
                                            })
                                            .catch((error) => {
                                                let data;
                                                let url = getDataurl + `coin=${link[i].coin}/USDT`;
                                                // url need to be changed
                                                axios.get(url)
                                                .then((response) => {
                                                    data = JSON.parse(JSON.stringify(response.data));
                                                    document.getElementById(`name-${i+1}`).innerHTML = `${link[i].coin}/USDT`;
                                                    document.getElementById(`price-${i+1}`).innerHTML = data.result.price;
                                                    return data;
                                                })
                                                .catch((error) => {
                                                    data = error;
                                                    console.log(error);
                                                    getCookie();
                                                });
                                                data = error;
                                                console.log(error);     
                                                getCookie(); 
                                                return data;
                                            });
                                            document.getElementById(`name-${i+1}`).innerHTML = `${link[i].coin}/USDT`;
                                        }                                                                                                                 
                                    }

                                    function getCookie() {                                                
                                        var Data = document.cookie.split("; ");
                                        Data.forEach(element => {
                                            if(element.substring(0, 4) == "gian") {    
                                                let gain = parseFloat(element.split('=')[1])
                                                if (gain > 0){
                                                    document.getElementById(`price-${parseInt(element[4])+1}_gain_img`).classList.add("fa-caret-up");
                                                    document.getElementById(`price-${parseInt(element[4])+1}_gain_img`).classList.add("green-text");
                                                    document.getElementById(`price-${parseInt(element[4])+1}_gain_text`).classList.add("green-text");                                                                                                        
                                                } else if (gain == 0){

                                                }
                                                else{
                                                    document.getElementById(`price-${parseInt(element[4])+1}_gain_img`).classList.add("fa-caret-down");
                                                    document.getElementById(`price-${parseInt(element[4])+1}_gain_img`).classList.add("red-text");
                                                    document.getElementById(`price-${parseInt(element[4])+1}_gain_text`).classList.add("red-text");
                                                    gain *= -1;
                                                }                                                                                                                                
                                                document.getElementById(`price-${parseInt(element[4])+1}_gain`).innerHTML = gain + "%";
                                            }
                                            else if(element.substring(0, 5) == "value") {                                                
                                                document.getElementById(`price-${parseInt(element[5])+1}`).innerHTML = element.split('=')[1];
                                                if(element[5] == "0") {
                                                    document.getElementById("header_crypto_price").innerHTML = element.split('=')[1];
                                                }
                                            }
                                            else if(element.substring(0, 6) == "height") {
                                                document.getElementById("header_crypto_blockhigh").innerHTML = element.split('=')[1];
                                            }
                                        });
                                    }
                                    
                                    //init
                                    autoSpawnCryto();
                                    getCookie();
                                    setTimeout(function(){
                                        autoSpawnCryto();                                        
                                    }, 30000);
                                    
                                </script>                                                                               
                            </div>                       
			                <div class="swiper-button-next">                                                      
                                <i class="fa-solid fa-chevron-right swiper-button-right top10swiper" id="next"></i>
                            </div>
			                <span class="fa-solid"></span>			    
                            <div class="swiper-button-prev" style="z-index: 999;">			    
                                <i class="fa-solid fa-chevron-left swiper-button-left top10swiper" id="prev"></i>
                            </div>                            

                            <style>
                                .swiper-button-right{                                    
                                    color: whites;
                                    position: relative;
                                    width: 100%;
				                    top: 3px;
                                    right: -14px;
                                    text-align: center;             
                                    background-color: rgb(247, 247, 247);               
                                }
                                .swiper-button-left{                                    
                                    color: black;
                                    position: relative;
                                    width: 100%;
				                    top: 3px;
                                    left: -14px;
                                    text-align: center;   
                                    background-color: rgb(247, 247, 247);                         
                                }
                                @media screen and (max-width:610px) {
                                    .swiper-button-right{    
				                        top: 4px;                                                                             
                                    }
                                    .swiper-button-left{   
				                        top: 4px;                                                                              
                                    }
                                }
                            </style>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--移除頂部廣告-->
        <script>
            const headerCloseBtn=document.getElementById('header-closeBtn')
            const headerAD=document.getElementById('header-ad') 

            headerCloseBtn.addEventListener('click',()=>{
                headerAD.remove() 
            }) 
        </script>
        <%- partial('_partial/navigation') %>
        <%- partial('_partial/slider') %>

        <% if (theme.githubLink && theme.githubLink.enable) { %>
            <%- partial('_partial/github-link') %>
                <% } %>
    </nav>

</header>
