<!-- <header class="navbar-fixed"> -->
<!-- 
    TODO: 漲跌幅還沒做
    TODO: US 10 Yr 還沒做，抓不到。
    TODO: 區塊高度還沒做，不知道這是什麼
 -->
<header class="navbar">
    <nav id="headNav" class="bg-color nav-transparent">
        <div class="bitcoin-price">
            <div class="btc-price black">
                <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

                <div class="container">
                    <script>

                        // get exchange data from a self-hosted api to get data from ftx, binance...etc
                        // get specific crypto data
                        async function getData(){
                            let data;

                            // url need to be changed
                            await axios.get('http://127.0.0.1:8080/getData?coin=BTC/USDT')
                            .then((response) => {
                                data = JSON.parse(JSON.stringify(response.data));
                            })
                            .catch((error) => {
                                data = error;
                                console.log(error);
                            });
                            return data;
                        }
                        
                        // get exchange data from a self-hosted api to get data from ftx, binance...etc
                        // get specific stock data
                        async function getStock(query, type, exchange){
                            let data;
                            let url = 'http://127.0.0.1:8080/getStock?query=' + query + '&type=' + type + '&exchange=' + exchange;
                            // url need to be changed
                            await axios.get(url)
                            .then((response) => {
                                data = JSON.parse(JSON.stringify(response.data));
                            })
                            .catch((error) => {
                                data = error;
                                console.log(error);
                            });
                            return data;
                        }
                        
                        // get exchange data from a self-hosted api to get data from ftx, binance...etc
                        // get specific stock gain
                        async function getStockGain(query, type, exchange){
                            let data;
                            let url = 'http://127.0.0.1:8080/getStockGain?query=' + query + '&type=' + type + '&exchange=' + exchange;
                            // url need to be changed
                            await axios.get(url)
                            .then((response) => {
                                data = JSON.parse(JSON.stringify(response.data));
                            })
                            .catch((error) => {
                                data = error;
                                console.log(error);
                            });
                            return data;
                        }
                    </script>
                    <img src="<%- theme.jsDelivr.url %><%- url_for(theme.iconCal) %>" class="responsive-img" alt="iconCal">
                    <span><%- date(Date.now(), 'YYYY/M/D') %></span>
                    <span id="header_cropto_name">
                        
                        <!-- needed to be able to change -->
                        <!-- send data to js and call api -->
                        <!-- BTC/USDT -->
                        <script> 
                            getData().then( res => {
                                // if the api is not working, show error message
                                let nameMsg = res.message === "Network Error" ? "連不上API，請先連上API" : res.result.name;
                                // if the api is working, show the name
                                document.getElementById("header_cropto_name").innerHTML = nameMsg;
                            }); 
                        </script>
                    </span>
                    <img src="<%- theme.jsDelivr.url %><%- url_for(theme.iconMoney) %>" class="responsive-img" alt="iconMoney">
                    <span>價格：
                        <span id="header_crypto_price">
                            <script>
                                // get data from the func "getData"
                                getData().then( res => {
                                    // if the api is not connected, show the error msg
                                    let priceMsg = res.message === "Network Error" ? "連不上API，請先連上API" : res.result.price;
                                    // show the price
                                    document.getElementById("header_crypto_price").innerHTML = priceMsg;
                                }); 
                            </script>
                        </span>
                    </span>
                    <span>|</span>
                    <img src="<%- theme.jsDelivr.url %><%- url_for(theme.iconBlock) %>" class="responsive-img" alt="iconBlock">
                    <span>區塊高度：
                        <span id="header_crypto_blockhigh">
                            <script>
                                // get data from the func "getData"
                                getData().then( res => {
                                    // if the api is not connected, show the error msg
                                    let blockhighMsg = res.message === "Network Error" ? "連不上API，請先連上API" : "757,674"; //res.result.區塊高度;
                                    // show the blockhigh
                                    document.getElementById("header_crypto_blockhigh").innerHTML = blockhighMsg;
                                });
                            </script>
                        </span>
                    </span>
                </div>
            </div>
            <div class="stock-price grey lighten-4">
                <div class="container">
                    <div class="stock">
                        <span>S&P 500</span>
                        <span id="header_US500_price">
                            <script>
                                // get data from the func "getData"
                                getStock("US500","Index","NYSE").then( res => {
                                    // if the api is not connected, show the error msg
                                    let data = res.message === "Network Error" ? "連不上API，請先連上API" : res;
                                    // show the blockhigh
                                    document.getElementById("header_US500_price").innerHTML = data;
                                });
                            </script>
                        </span>
                        <i class="fa-solid fa-caret-up green-text text-darken-3"></i>
                        <span class="green-text text-darken-3">
                            <span id="header_US500_gain">
                                <script>
                                    // get data from the func "getData"
                                    getStockGain("US500","Index","NYSE").then( res => {
                                        // if the api is not connected, show the error msg
                                        let data = res.message === "Network Error" ? "連不上API，請先連上API" : res;
                                        // show the blockhigh
                                        document.getElementById("header_US500_gain").innerHTML = data;
                                    });
                                </script>
                            </span>
                        </span>
                    </div>
                    <div class="stock">
                        <span>Nasdaq</span>
                        <span id="header_Nasdaq_price">
                            <script>
                                // get data from the func "getData"
                                getStock("IXIC","Index","NASDAQ").then( res => {
                                    // if the api is not connected, show the error msg
                                    let data = res.message === "Network Error" ? "連不上API，請先連上API" : res;
                                    // show the blockhigh
                                    document.getElementById("header_Nasdaq_price").innerHTML = data;
                                });
                            </script>
                        </span>
                        <i class="fa-solid fa-caret-up green-text text-darken-3"></i>
                        <span class="green-text text-darken-3">
                            <span id="header_Nasdaq_gain">
                                <script>
                                    // get data from the func "getData"
                                    getStockGain("IXIC","Index","NASDAQ").then( res => {
                                        // if the api is not connected, show the error msg
                                        let data = res.message === "Network Error" ? "連不上API，請先連上API" : res;
                                        // show the blockhigh
                                        document.getElementById("header_Nasdaq_gain").innerHTML = data;
                                    });
                                </script>
                            </span>
                        </span>
                    </div>
                    <div class="stock">
                        <span>Crude oil</span>
                        <span id="header_CrudeOil_price">
                            <script>
                                // get data from the func "getData"
                                getStock("CL","Commodity","ICE").then( res => {
                                    // if the api is not connected, show the error msg
                                    let data = res.message === "Network Error" ? "連不上API，請先連上API" : res;
                                    // show the blockhigh
                                    document.getElementById("header_CrudeOil_price").innerHTML = data;
                                });
                            </script>
                        </span>
                        <i class="fa-solid fa-caret-up green-text text-darken-3"></i>
                        <span class="green-text text-darken-3">
                            <span id="header_CrudeOil_gain">
                                <script>
                                    // get data from the func "getData"
                                    getStockGain("CL","Commodity","ICE").then( res => {
                                        // if the api is not connected, show the error msg
                                        let data = res.message === "Network Error" ? "連不上API，請先連上API" : res;

                                        // show the blockhigh
                                        document.getElementById("header_CrudeOil_gain").innerHTML = data;
                                    });
                                </script>
                            </span>
                        </span>
                    </div>
                    <div class="stock">
                        <span>US 10 Yr</span>
                        <span id="header_US10Y_price">
                            <script>
                                // get data from the func "getData"
                                getStock("US10YT=X","Bond","NYSE").then( res => {
                                    // if the api is not connected, show the error msg
                                    // show the blockhigh
                                    document.getElementById("header_US10Y_price").innerHTML = res;
                                });
                            </script>
                        </span>
                        <i class="fa-solid fa-caret-up green-text text-darken-3"></i>
                        <span class="green-text text-darken-3">
                            <span id="header_US10Y_gain">
                                <script>
                                    // get data from the func "getData"
                                    getStockGain("US10YT=X","Bond","NYSE").then( res => {
                                        // if the api is not connected, show the error msg
                                        // show the blockhigh
                                        document.getElementById("header_US10Y_gain").innerHTML = res;
                                    });
                                </script>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <%- partial('_partial/navigation') %>
        <%- partial('_partial/slider') %>

        <% if (theme.githubLink && theme.githubLink.enable) { %>
            <%- partial('_partial/github-link') %>
                <% } %>
    </nav>

</header>