<!--社交區塊按鈕-->
<!-- <div id="social-block" style="z-index: 9999;">
    <ul>
        <li>
            <a href="<%= theme.socialLink.facebook %>" class="tooltipped" target="_blank" data-tooltip="Facebook" data-position="top" data-delay="50">
                <i id="social-block-share" class="black-text">分享</i>
            </a>
        </li>
        <li>
            <a href="<%= theme.socialLink.twitter %>" class="tooltipped" target="_blank" data-tooltip="Twitter" data-position="top" data-delay="50">
                <i class="fab fa-twitter black-text"></i>
            </a>
        </li><li>
            <a href="<%= theme.socialLink.youtube %>" class="tooltipped" target="_blank" data-tooltip="Youtube" data-position="top" data-delay="50">
                <i class="fab fa-youtube black-text"></i>
            </a>
        </li><li>
            <a href="<%= theme.socialLink.podcast %>" class="tooltipped" target="_blank" data-tooltip="podcast" data-position="top" data-delay="50">
                <i class="fa-solid fa-podcast black-text"></i>
            </a>
        </li><li>
            <a href="<%= theme.socialLink.line %>" class="tooltipped" target="_blank" data-tooltip="line" data-position="top" data-delay="50">
                <i class="fab fa-line black-text"></i>
            </a>
        </li><li>
            <a href="<%= theme.socialLink.facebook %>" class="tooltipped" target="_blank" data-tooltip="Facebook" data-position="top" data-delay="50">
                <i class="fab fa-facebook-f black-text"></i>
            </a>
        </li>
    </ul>
</div>
<script>
    const socialBlock=document.getElementById('social-block')
    const screenWidth=document.body.clientWidth

    if(screenWidth<540){
        socialBlock.style.display="none"
    }

    window.addEventListener('resize',()=>{
        history.go(0)
    })
</script> -->
