<% if (theme.socialLink.facebook) { %>
    <a href="<%= theme.socialLink.facebook %>" class="tooltipped" target="_blank" data-tooltip="Facebook" data-position="top" data-delay="50">
        <i class="fab fa-facebook-f black-text"></i>
    </a>
<% } %>

<% if (theme.socialLink.instagram) { %>
    <a href="<%= theme.socialLink.instagram %>" class="tooltipped" target="_blank" data-tooltip="Instagram" data-position="top" data-delay="50">
        <i class="fab fa-instagram black-text"></i>
    </a>
<% } %>

<% if (theme.socialLink.twitter) { %>
    <a href="<%= theme.socialLink.twitter %>" class="tooltipped" target="_blank" data-tooltip="Twitter" data-position="top" data-delay="50">
        <i class="fab fa-twitter black-text"></i>
    </a>
<% } %>

<% if (theme.socialLink.youtube) { %>
    <a href="<%= theme.socialLink.youtube %>" class="tooltipped" target="_blank" data-tooltip="Youtube" data-position="top" data-delay="50">
        <i class="fab fa-youtube black-text"></i>
    </a>
<% } %>

<% if (theme.socialLink.podcast) { %>
    <a href="<%= theme.socialLink.podcast %>" class="tooltipped" target="_blank" data-tooltip="podcast" data-position="top" data-delay="50">
        <i class="fa-solid fa-podcast black-text"></i>
    </a>
<% } %>

<% if (theme.socialLink.rss) { %>
    <a href="<%- url_for('/atom.xml') %>" class="tooltipped" target="_blank" data-tooltip="RSS" data-position="top" data-delay="50">
        <i class="fas fa-rss black-text"></i>
    </a>
<% } %>
